:root {
    /* color */ 
    --color-brand: #ffffff;
    --background-color-brand: #333;

    /* space */
    --space-l: 24px;
    --space-m: 20px;
    --space-s: 16px;
}


$blue: #056ef0;
$column: 200px;


%thick-border {
    border: thick dotted red;
  }